[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/airport/airport.sh
Restart=on-failure
WorkingDirectory=/airport

[Unit]
After=network.target network-online.target
Description=Unit for starting a basic Django app
Wants=network-online.target