[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/root/airport/airport.sh
Restart=on-failure
WorkingDirectory=/root/airport

[Unit]
After=network.target network-online.target
Description=unit for starting airport application
Wants=network-online.target