@media not screen and (max-width: 767px) {
  #arrival-table {
    margin-right: 5px;
  }
  #departure-table {
    margin-left: 5px;
  }
  #content-main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #flight-management-button-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
  }
  #flight-management-content {
    flex: 7;
  }
  #flight-management-panel {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 5px;
  }
  #table-arrivaldeparture-main {
    display: flex;
    flex-direction: row;
    flex: 5;
    height: 100%;
    margin-top: 5px;
  }
  .flight-management-button {
    height: 100%;
    width: 100px;
    flex: 1;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0 !important; /* Why `!important` is necessary? */
  }
  #flight-management-panel-info {
    flex-direction: row;
  }
  .management-panel-info-text {
    flex: 1;
  }
  .management-panel-variable-text {
    flex: 1;
  }
  .table-arrivaldeparture {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
  .table-arrivaldeparture-content-container>div {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  #arrival-table {
    margin-bottom: 10px;
  }
  #departure-table {
    margin-top: 10px;
  }
  #content-main {
    display: flex;
    flex-direction: column;
    height: 900px;
  }
  #flight-management-button-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
  }
  #flight-management-content {
    flex: 2;
  }
  #flight-management-panel {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 20px;
  }
  #flight-management-panel-info {
    flex-direction: column;
  }
  #table-arrivaldeparture-main {
    display: flex;
    flex-direction: column;
    flex: 5;
    height: 100%;
  }
  .flight-management-button {
    height: 100%;
    margin-top: 0 !important; /* Why `!important` is necessary? */
  }
  .management-panel-info-text {
    flex: 1;
  }
  .management-panel-variable-text {
    flex: 2;
  }
  .table-arrivaldeparture {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding-right: 25px;
  }
  .table-arrivaldeparture-content-container>div {
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
#arrival-table-request,
#arrival-table-server-problem,
#departure-table-request,
#departure-table-server-problem {
  display: none;
}
#pagination-arrival,
#pagination-departure {
  height: 40px;
  margin-bottom: 0;
  padding-right: 0;
  width: 100%;
}
#pagination-arrival>li,
#pagination-departure>li {
  width: 10%;
}
#pagination-arrival>li>span, #pagination-arrival>li>a,
#pagination-departure>li>span, #pagination-departure>li>a {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100%;
}
#pagination-request-url {
  display: none;
}
.pagination-dynamic-width>span.clickable.ellipse>input {
  width: 100%;
}
.pagination-dynamic-width>span.clickable.ellipse>input::-webkit-outer-spin-button,
.pagination-dynamic-width>span.clickable.ellipse>input::-webkit-inner-spin-button {
  /*display: none; /* Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* Apparently some margin are still there even though it is
                hidden. */
}
.table-arrivaldeparture-content-container {
  flex: 1;
  height: 1px; /* Insert arbitrary small number here. Idk why, it just works. */
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}
.table-arrivaldeparture-content-container td {
  cursor: pointer;
}
.table-arrivaldeparture-content-container>div>table {
  position: absolute;
}
.table-arrivaldeparture-content-container>div>table th {
  text-align: center;
}
.table-arrivaldeparture-pagination-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.table-arrivaldeparture-title {
  margin: 0 0 5px 0;
}