@media not screen and (max-width: 767px) {
  #atc-reset-button {
    margin-right: 0;
    width: 150px;
  }
  #atc-submit-button {
    margin-left: 0;
    width: 150px;
  }
  #login-register-form {
    border: none;
  }
  #logout-form {
    width: 315px;
  }
  #main-menu-container {
    display: flex;
    flex-direction: row;
  }
  #main-menu-form-buttons-container {
    display: inline;
  }
  #main-menu-form-buttons-container .main-menu-form-button {
    display: table-cell;
    width: 50%;
  }
  #main-menu-form-buttons-container .main-menu-form-button .btn {
    width: 150px;
  }
  #main-menu-form-input {
    display: flex;
    flex: 2;
    flex-direction: row;
  }
  #main-menu-form-input input {
    flex: 1;
    max-width: 150px;
  }
  form.navbar-form {
    border: none;
  }
}
@media screen and (max-width: 767px) {
  #atc-form-button,
  #atc-list-button {
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
  }
  #atc-reset-button {
    margin-right: 0;
    width: 50%;
  }
  #atc-submit-button {
    margin-left: 0;
    width: 50%;
  }
  #login-register-form {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
  #logout-form {
    min-width: 150px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
  #main-menu-container {
    display: flex;
    flex-direction: column;
  }
  #main-menu-form-buttons-container {
    display: flex;
    flex-direction: row;
  }
  #main-menu-form-buttons-container .main-menu-form-button {
    flex: 1;
  }
  #main-menu-form-buttons-container .main-menu-form-button .btn {
    width: 100%;
  }
  #main-menu-form-input {
    display: flex;
    flex-direction: column;
  }
  #main-menu-form-input input {
    flex: 1;
  }
  form.navbar-form {
    border: none;
  }
}
#atc-form-modal .modal-footer,
#wrong-password-modal .modal-footer {
  padding:9px 15px;
}
#atc-form-modal .modal-header {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background-color: #5CB85C;
  border-bottom:1px solid #EEEEEE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding:9px 15px;
}
#atc-list-modal .modal-header {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background-color: #428BCA;
  border-bottom:1px solid #EEEEEE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding:9px 15px;
}
#atc-list-modal .modal-body {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#atc-list-table th {
  text-align: center;
}
#wrong-password-modal .modal-header {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background-color: #D9534F;
  border-bottom:1px solid #EEEEEE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding:9px 15px;
}
#logout-form-button-container {
  display: flex;
  flex-direction: row;
}
/*
This is meant to remove shadow margin. See this StackOverflow discussion for
further reference, https://stackoverflow.com/questions/24036212/no-margin-or-padding-but-still-space-between-div-elements.
*/
#atc-register-form .modal-footer {
  font-size: 0;
}
#user-button {
  flex: 1;
}