{% load djng_tags %}
{% load static %}

<div id="content-main">
  <!--
  If a user is logged in show the management panel for the airport manager
  -->
  {% if user.is_authenticated and not user.is_superuser %}
    <div id="flight-management-panel" ng-controller="flight_management_panel">
      {% angularjs %}
        <div class="flight-management-title">flight informations</div>
        <div class="flight-management-button-container">

          <!-- Three buttons. -->
          <button class="btn btn-block flight-management-button
            {{ button.bootstrap_color }}" ng-bind-html="button.text"
            ng-repeat="button in buttons">
          </button>

        </div>
      {% endangularjs %}
    </div>
  {% endif %}

  <div id="pagination-request-url"
    param="{% url 'airport_management:request_table_pagination' %}">
  </div>

  <div id="table-arrivaldeparture-main"
    ng-controller="table_arrivaldeparture_main">

      {% for property in properties %}
        <!-- Pagination for arrival and departure table. -->
        <div class="table-arrivaldeparture" id="{{ property.id_main }}">
          <div>
            <h1 class="table-arrivaldeparture-title">
              {{ property.title }}
            </h1>
          </div>
          <div class="table-arrivaldeparture-content-container">
            <div>
              <div id="{{ property.id_main }}-request">
                <i>requesting new table...</i>
              </div>
              <div id="{{ property.id_main }}-server-problem">
                <i>server problem</i>
              </div>
              <table class=" table table-condensed table-hover"
                id="{{ property.id_main }}-content">

                {% include "airport_management/paginated-table.html" with data_list=property.data %}

              </table>
            </div>
          </div>
          <div class="table-arrivaldeparture-pagination-container">
            <ul class="pagination" id="{{ property.id_pagination }}"
              param="{{ property.num_pages }}"></ul>
          </div>
        </div>
      {% endfor %}

  </div>
</div>