{% load djng_tags %}
{% load static %}

<div id="pagination-main">
  <!--
  If a user is logged in show the management panel for the airport manager
  -->
  {% if user.is_authenticated and not user.is_superuser %}
    <div id="flight-management-panel" ng-controller="flight_management_panel">
      {% angularjs %}
        <div class="flight-management-title">flight informations</div>
        <div class="flight-management-button-container">

          <!-- Three buttons. -->
          <button class="btn btn-block flight-management-button
            {{ button.bootstrap_color }}" ng-bind-html="button.text"
            ng-repeat="button in buttons">
          </button>

        </div>
      {% endangularjs %}
    </div>
  {% endif %}

  <div id="table-arrivaldeparture-main"
    ng-controller="table_arrivaldeparture_main">

    {% angularjs %}

      <!-- Pagination for arrival and departure table. -->
      <div class="table-arrivaldeparture {{ property.class }}"
        ng-repeat="property in properties">
        <div class="table-arrivaldeparture-title">{{ property.text }}</div>
        <div class="table-arrivaldeparture-container">
          <ul id="{{ property.id }}" class="pagination"></ul>
        </div>
      </div>

    {% endangularjs %}

  </div>
</div>

<script>

</script>