<div id="airport-manager-wrong-password"
  param="{{ wrong_password }}"
  style="display: none;">
</div>
<!-- Modal page that is shown when the inserted password was wrong. -->
<div class="fade modal" id="airport-manager-wrong-password-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">error!</h4>
      </div>
      <div class="modal-body">
        <p>wrong username and password combination</p>
      </div>
    </div>
  </div>
</div>