<!-- Modal page for a form to register ATC. -->
<div class="fade modal" id="atc-registration-form-modal" role="dialog">
  <div class="modal-dialog">
    <form action="{% url 'airport_management:register_atc' %}"
      class="form-horizontal" id="atc-registration-form" method="POST"
      name="atc_registration_form" ng-controller="atc-registration-form">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">
            &times;
          </button>
          <h4 class="modal-title">atc form</h4>
        </div>
        <div class="modal-body">
          <div id="check-atc-code-existence-url"
            param="{% url 'airport_management:check_atc_code_existence' %}"
            style="display: none;">
          </div>
          <!-- ATC code input. -->
          <input class="form-control" id="atc-code-input" name="atc_code_input"
            type="text" placeholder="atc code"
            ng-change="check_atc_code_existence()" ng-model="atc_code_input"
            required />
          <!-- ATC first name input. -->
          <input class="form-control" name="atc_first_name_input" type="text"
            placeholder="first name"
            ng-change="disable_atc_register_button_callback()"
            ng-model="atc_first_name_input" required />
          <!-- ATC last name input. -->
          <input class="form-control" name="atc_last_name_input" type="text"
            placeholder="last name"
            ng-change="disable_atc_register_button_callback()"
            ng-model="atc_last_name_input" required />
        </div>
        <div class="modal-footer">
          <!-- Reset form and register buttons. -->
          <input class="btn btn-default" id="atc-reset-button" type="button"
            value="reset" ng-click="reset_values()" />
          <input class="btn btn-default" id="atc-registration-button"
            type="submit" value="register"
            ng-disabled="disable_atc_register_button" />
        </div>
      </div>
    </form>
  </div>
</div>