{% load djng_tags %}
{% load static %}
{% if user.is_authenticated and not user.is_superuser %}
  <div id="flight-management-panel" ng-controller="flight_management_panel">
    <div id="flight-management-panel-informations-container">
      <div id="flight-management-panel-informations">
        {% include "airport_management/flight_management_panel_informations.html" with flight_management_panel_informations_non_status=flight_management_panel_informations_non_status flight_management_panel_informations_status=flight_management_panel_informations_status %}
      </div>
    </div>
    <div id="flight-management-panel-buttons-container">
      {% angularjs %}
        <!-- Three buttons. -->
        <button class="btn btn-block flight-management-panel-button
          {{ flight_management_panel_button.bootstrap_color_class }}"
          ng-bind-html="flight_management_panel_button.text"
          ng-click="flight_management_panel_button.ng_click()"
          ng-repeat="flight_management_panel_button in flight_management_panel_buttons">
        </button>
      {% endangularjs %}
    </div>
  </div>
  <hr class="line-separator" />
{% endif %}