<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  <link href="{% static 'airport_management/bower_components/bootstrap/dist/css/bootstrap.css' %}"
    rel="stylesheet" type="text/css" />
  <link href="{% static 'airport_management/navbar.css' %}" rel="stylesheet"
    type="text/css" />
  <script src="{% static 'airport_management/bower_components/angular/angular.js' %}"></script>
  <script src="{% static 'airport_management/bower_components/jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'airport_management/bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

</head>
<body ng-app="airport_management">

  <!-- Loads navigation bar. -->
  {% include "airport_management/navbar.html" %}

  <!-- Contents. -->
  {% include "airport_management/airplane_ticker.html" %}

  <script src="{% static 'airport_management/main.js' %}"></script>
  <script src="{% static 'airport_management/navbar.js' %}"></script>

</body>
</html>