<thead>
  <tr>
    <th>flight code</th>
    <th class="hide-for-small-width">carrier</th>
    <th class="hide-for-small-width">airport</th>
    <th class="hide-for-small-width">day</th>
    <th>operation</th>
    <th>lane</th>
    <th>online atc</th>
    <th>status?</th>
  </tr>
</thead>
<tbody>
  {% for object in objects  %}
    <!--
    `'{{ data.id }}'` should be enclosed in quote because it need to be
    perceived as a string.
    -->
    <tr
      style="background-color:
        {% if object.status is False %}
          #D9534F
        {% elif object.status is True %}
          #5CB85C
        {% endif %}
      ;"
      {% if user.is_authenticated and not user.is_superuser %}
        ng-click="table_requests_flight('{{ object.id }}', '{{ dom_id }}')"
      {% endif %}
    >
      <td>{{ object.flight_code }}</td>
      <td class="hide-for-small-width">
        {{ object.carrier }}
      </td>
      <td class="hide-for-small-width">
        {{ object.airport }}
      </td>
      <td class="hide-for-small-width">
        {{ object.day }}
      </td>
      <td id="scheduled-datetime-column">
        <div>{{ object.scheduled_datetime }}</div>
      </td>
      <td>
        <!--
        The `ng-click` function is the one located in table's controller in
        table.js.
        -->
        {% if user.is_authenticated and not user.is_superuser %}
          <a href="#"
            ng-click="show_flight_lane_form_modal('{{ object.id }}', '{{ dom_id }}')">
            {{ object.lane }}
          </a>
        {% else %}
          {{ object.lane }}
        {% endif %}
      </td>
      <td>
        <!--
        The `ng-click` function is the one located in table's controller in
        table.js.
        -->
        {% if user.is_authenticated and not user.is_superuser %}
          <a href="#"
            ng-click="show_flight_online_atc_form_modal('{{ object.id }}', '{{ dom_id }}')">
            atcs
          </a>
        {% else %}
          atcs
        {% endif %}
      </td>
      <td class="flight-status-container">
        <div>{{ object.status }}</div>
      </td>
    </tr>
  {% endfor %}
</tbody>