{% load djng_tags %}
{% load static %}
<nav class="navbar navbar-default">
  <!-- Header and burger button for mobile view. -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#" id="title">airport manager</a>
    <!-- Burger button for mobile view. -->
    <button aria-expanded="false" class="collapsed navbar-toggle"
      data-target="#main-menu" data-toggle="collapse" type="button">
      <span class="sr-only">toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!--
  Main menu, mainly used for login, logout, and register. There are some buttons
  to activate modal pages as well.
  -->
  <div class="collapse navbar-collapse" id="main-menu">
    {% include "airport_management/navbar_left.html" %}
    {% include "airport_management/navbar_right.html" with %}
  </div>
</nav>