<thead>
  <tr>
    <th>flight code</th>
    <th class="hide-for-small-width">carrier</th>
    <th class="hide-for-small-width">airport</th>
    <th class="hide-for-small-width">day</th>
    <th>operation</th>
    <th>lane</th>
    <th>online atc</th>
    <th>status?</th>
  </tr>
</thead>
<tbody>
  {% for flight_object in flight_objects  %}
    <!--
    `'{{ data.id }}'` should be enclosed in quote because it need to be
    perceived as a string.
    -->
    <tr ng-click="table_request_flight('{{ flight_object.id }}',
      '{{ table_properties.table_pagination_id }}')">
      <td>{{ flight_object.flight_code }}</td>
      <td class="hide-for-small-width">{{ flight_object.carrier }}</td>
      <td class="hide-for-small-width">{{ flight_object.airport }}</td>
      <td class="hide-for-small-width">{{ flight_object.day }}</td>
      <td id="scheduled-datetime-column">
        <div>{{ flight_object.scheduled_datetime }}</div>
      </td>
      <td>{{ flight_object.lane }}</td>
      <td><a href="#">atcs</a></td>
      <td class="flight-status-container">
        <div>{{ flight_object.status }}</div>
      </td>
    </tr>
  {% endfor %}
</tbody>