<thead>
  <tr>
    <th>flight code</th>
    <th class="td-hide-for-small-width">carrier</th>
    <th class="td-hide-for-small-width">airport</th>
    <th class="td-hide-for-small-width">day</th>
    <th>operation</th>
    <th>lane</th>
    <th>online atc</th>
    <th>proper?</th>
  </tr>
</thead>
<tbody>

  {% for data in data_list %}
    <!--
    `'{{ data.id }}'` should be enclosed in quote because it need to be
    perceived as a string.
    -->
    <tr ng-click="get_flight_document('{{ property.id_main }}',
    '{{ property.id_pagination }}',
    '{{ data.id }}')">
      <td>{{ data.flight_code }}</td>
      <td class="td-hide-for-small-width">
        {{ data.carrier }}
      </td>
      <td class="td-hide-for-small-width">
        {{ data.airport }}
      </td>
      <td class="td-hide-for-small-width">
        {{ data.day }}
      </td>
      <td>{{ data.sch_local_datetime }}</td>
      <td>{{ data.lane }}</td>
      <td><a href="#">atcs</a></td>
      <td style="position: relative;"><div style="text-overflow: ellipsis; max-width: 100%; overflow: hidden; position: absolute; white-space: nowrap;">{{ data.status }}</div></td>
    </tr>
  {% endfor %}

</tbody>