{% load djng_tags %}
{% load static %}
<div id="main-content">
  <!-- Flight management panel. -->
  {% include "airport_management/flight_management_panel.html" %}
  <!-- Invisible DOM for URLs. -->
  <div id="pagination-request-flight-table-url"
    param="{% url 'airport_management:pagination_request_flight_table' %}">
  </div>
  <div id="table-request-flight-url"
    param="{% url 'airport_management:table_requests_flight' %}">
  </div>
  <!-- Set of tables and its components (table titles and paginations). -->
  <div id="arrivaldeparture-table-sets-container"
    ng-controller="arrivaldeparture_table_sets_container">
    <!--
    Create two tables, arrival flight table and departure flight table.
    -->
    {% for table_properties in tables_properties %}
      <div class="arrivaldeparture-table-set">
        <!-- Table title. -->
        <div>
          <h1 id="arrivaldeparture-table-title">
            {{ table_properties.table_title }}
          </h1>
        </div>
        <!-- Table. -->
        <div class="arrivaldeparture-table-container">
          <div>
            <!-- Error table. -->
            <div id="{{ table_properties.table_error_id }}">
              <i>server problem</i>
            </div>
            <!-- Requesting table. -->
            <div id="{{ table_properties.table_requesting_id }}">
              <i>processing</i>
            </div>
            <!-- Table. -->
            <table class="table table-condensed table-hover"
              id="{{ table_properties.table_id }}">
              <!--
              CAUTION: The include value needs to be inputted as parameters
              because there will be values comes directly to this template.
              Usually the values come from index.html inheritted
              systematically to this inner_table.html. But there will be
              occasion that the values goes directly to inner_table.html.
              Whereas the values inputted directly cannot has "." in it.
              Hence I need to put it in another variables `dom_id` and
              `objects` as arguments.
              -->
              {% include "airport_management/inner_table.html" with dom_id=table_properties.table_pagination_id objects=table_properties.arrivaldepartureflight_objects %}
            </table>
          </div>
        </div>
        <!-- Table pagination. -->
        <div class="arrivaldeparture-table-pagination-container">
          <div id="{{ table_properties.table_pagination_number_of_pages_id }}"
            param="{{ table_properties.table_pagination_number_of_pages }}">
          </div>
          <ul class="pagination"
            id="{{ table_properties.table_pagination_id }}">
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</div>