*.egg
*.egg-info/
*.log
*.pot
*.py[cod]
*.exe
*.so
*.sqlite3
.cache
.coverage
.installed.cfg
.tox/
__pycache__/
bin/
build/
coverage.xml
develop-eggs/
dist/
eggs/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
var/
venv/