@media not screen and (max-width: 767px) {
  #flight-management-panel-info {
    flex-direction: row;
  }
  .flight-management-panel-key,
  .flight-management-panel-value {
    flex: 1;
  }
}
@media screen and (max-width: 767px) {
  #flight-management-panel-info {
    flex-direction: column;
  }
  .flight-management-panel-key {
    flex: 1;
  }
  .flight-management-panel-value {
    flex: 2;
  }
}
#flight-management-panel-info {
  display: flex;
  height: 100%;
}
#flight-management-panel-info-non-status {
  display: flex;
  flex: 1;
  flex-direction: column;
}
#flight-management-panel-info-non-status>div {
  display: flex;
  flex: 1;
  flex-direction: row;
}
#flight-management-panel-info-non-status>div>div {
  align-items: center;
  display: flex;
  position: relative;
}
#flight-management-panel-info-non-status>div>div>div {
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#flight-management-panel-info-status{
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
#scheduled-datetime-column {
  position: relative;
  width: 100%;
}
#scheduled-datetime-column>div {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}