@media not screen and (max-width: 767px) {
  #airport-manager-login-and-registration-form>.buttons-and-inputs-container {
    display: inline;
  }
  #airport-manager-login-and-registration-form>.buttons-and-inputs-container>div {
    display: table-cell;
    width: 50%;
  }
  #airport-manager-login-and-registration-form>.buttons-and-inputs-container>.inputs-container>input {
    width: 150px;
  }
  #airport-manager-form-inputs-container {
    display: flex;
    flex: 2;
    flex-direction: row;
  }
  #airport-manager-form-inputs-container input {
    flex: 1;
    max-width: 150px;
  }
  #airport-manager-login-and-registration-form {
    border: none;
  }
  #airport-manager-login-and-registration-form>.buttons-container {
    display: flex;
    flex-direction: row;
  }
  form.navbar-form {
    border: none;
  }
}
@media screen and (max-width: 767px) {
  #airport-manager-login-and-registration-form {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
  #airport-manager-login-and-registration-form>.buttons-container {
    display: flex;
    flex-direction: column;
  }
  #airport-manager-login-and-registration-form>.buttons-and-inputs-container {
    display: flex;
    flex-direction: row;
  }
  #airport-manager-login-and-registration-form>.buttons-and-inputs-container>div {
    flex: 1;
  }
  #airport-manager-login-and-registration-form>.buttons-and-inputs-container>.inputs-container>input {
    width: 100%;
  }
  #airport-manager-form-inputs-container {
    display: flex;
    flex-direction: column;
  }
  #airport-manager-form-inputs-container input {
    flex: 1;
  }
  form.navbar-form {
    border: none;
  }
}