@media not screen and (max-width: 767px) {
  #atc-list-modal-button {
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  #atc-registration-form-modal-button {
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
  }
}