.flight-status-container {
  position: relative;
}
.flight-status-container>div {
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#scheduled-datetime-column {
  position: relative;
  width: 100%;
}
#scheduled-datetime-column>div {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}